# 객체란?
메모리에 저장된 자료를 **객체**라고 한다.

### ※ a=100의 의미란?

a=100은 수학적 의미인 a와 100이 같다는 의미가 아니라  
a라는 변수에 100을 넣는다는 의미이다.

In [18]:
y=200

In [19]:
z = x+y

In [22]:
print(x,y,z)

9000 200 9200

In [12]:
id(x)

1488612608

In [21]:
print("문자")

문자

In [23]:
xx=3.0

#### type() : 괄호 안에 있는 변수의 데이터 타입을 알려준다.

In [24]:
type(xx)

float

In [25]:
type(x)

int

In [26]:
number=5
score=90
math_score=80

In [27]:
%whos

Variable     Type     Data/Info
-------------------------------
math_score   int      80
number       int      5
score        int      90
x            int      9000
xx           float    3.0
y            int      200
z            int      9200

### del() : 괄호안에 있는 변수를 지운다.

In [28]:
del(number)
del(score)
del(math_score)

In [29]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      9000
xx         float    3.0
y          int      200
z          int      9200

In [30]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [31]:
%whos

Interactive namespace is empty.

In [32]:
x=3+5j

In [33]:
print(x)

(3+5j)

In [34]:
type(x)

complex

In [35]:
a=True

In [36]:
b=False

In [38]:
print(a)

True

### 문자열

In [39]:
name = "문자"

In [40]:
print(name)

문자

In [41]:
type(name)

str

In [42]:
city="Seoul"

In [43]:
name="이재창"

In [44]:
phone="010-9876-1957"

In [45]:
add="서울시 광진구 능동로"

In [46]:
name[0]

'이'