### for문

### range 함수

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

list(range(a)) 0부터 a-1까지  
list(range(a,b)) a부터 b-1까지  
list(range(a,b,c)) a부터 b-1까지 c간격의 수를 반환

### for문

for문은 while과 같은 반복문이지만 시작값과 범위

In [6]:
for x in range(0,5,1):  #괄호 안의 (0,5,1)은 0부터 시작해 5까지 1씩 더해진다는 뜻이다
    print(x)

0
1
2
3
4

In [7]:
names=["무리뉴","콘테","벵거","펩","포체티노"]

In [8]:
for 이름 in names :
    print(이름)

무리뉴
콘테
벵거
펩
포체티노

In [9]:
for 문자 in "금요일 입니다. 치맥":
    print(문자)

금
요
일

입
니
다
.

치
맥

In [10]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

In [11]:
for x in score :
    print(x)

4
2
1
5
3

In [12]:
for x in score.keys() :
    print(x)

4
2
1
5
3

In [13]:
for x in score.values() :
    print(x)

90
80
95
88
92

In [17]:
for k, v in score.items() :
    print("key는 :",k, end="   ")
    print("value는 :", v)

key는 : 4   value는 : 90
key는 : 2   value는 : 80
key는 : 1   value는 : 95
key는 : 5   value는 : 88
key는 : 3   value는 : 92

In [21]:
a=[x**2 for x in range(10)]

In [22]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

data type

In [25]:
for x in range(0,10):
    print(x,end=" ")
print()
for y in range(0,51,5):
    print(y,end=" ")
print()
for z in range(10,0,-1):
    print(z,end=" ")

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

In [44]:
max=0
min=100
count=0
sum=0
z=[]
for k in range(0,5):
    x=int(input("성적을 입력하세요 : "))
    count+=1
    sum+=x
    if max<x:
        max=x
    if min>x:
        min=x
    z.append(x)
print("입력한 성적들 : ",z)
avg=sum/count
print()
print("최고 성적 {}".format(max))
print("최저 성적 {}".format(min))
print("평균 : {0:.2f}".format(avg))

성적을 입력하세요 : 90
성적을 입력하세요 : 88
성적을 입력하세요 : 75
성적을 입력하세요 : 93
성적을 입력하세요 : 80
입력한 성적들 :  [90, 88, 75, 93, 80]

최고 성적 93
최저 성적 75
평균 : 85.20

In [49]:
score={1:[80,90,86], 2:[78,88,85],3:[85,85,92],4:[70,69,65],5:[90,95,100]}
for key,value in score.items():
    print(key, '번 {}:'.format sum(value)/len(value))

SyntaxError: invalid syntax (<ipython-input-49-3e6f419b595a>, line 3)